@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/select';
@import 'partials/li';
@import 'partials/button';

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.preloader {
    @include preloader(1);
}

.l-blue-to-d-blue {
    @include bg-gradient($color-blue_lite, $color-blue_dark);
}

.la-line-scale-pulse-out {
    @include preloader-lines(6px);
}
/*
 * Animation
 */
@keyframes line-scale-pulse-out {
    0% {
        transform: scaley(1);
    }
    50% {
        transform: scaley(.3);
    }
    100% {
        transform: scaley(1);
    }
}

header {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.base.pulse {
    animation: pulse 2s infinite;
}

.np {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 314px;
    width: 47vh;
    min-width: 214px;

    text-align: center;
    background-color: $color-eggshell;
    z-index: 3;

    img {
        max-width: 300px;
        max-height: 300px;
        width: 45vh;
        height: 45vh;
        min-width: 200px;
        min-height: 200px;
        padding: 7px;    
    }

    h4 {
        padding: 0 2px;
    }
}

section {
    // Parent
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    > div {
        -webkit-flex: 1 auto;
        flex: 1 auto;
    }

    > div:not(.np) {
        min-width: 430px;
    }
}

.left-layer {
    @include layer( rgba(126, 206, 253, 0.7) );
}

.right-layer {
    @include layer( rgba(33, 133, 197, 0.8) );
}

.activity { 
    position: relative;
    background: url(../images/swirl_pattern.png);

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    &:hover { a { color: $color-salmon; } }    
}

.favorites { 
    position: relative;
    background: url(../images/skulls.png);

    &:hover { a { color: $color-salmon; } }    

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-end;
    justify-content:flex-end;
}

.main-container {
    -webkit-flex: 0 1 80%;
    flex: 0 1 80%;
    align-self: center;

    text-align: center;
    z-index: 2;
}

@media only screen and (max-width: 860px) {
    header { display: none; }

    .activity .main-container {
        position: relative;
        top: -100px;
    }

    .favorites .main-container{
        position: relative;
        top: 100px;
    }

    .main-container {
        -webkit-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}

@import 'partials/favorites';
@import 'partials/activity';