select {
	max-width: 300px;
	width: 100%;
	height: 66px;

	margin: 12px;

	/* Select Background: */
	background-color: #FF7F66;
	border: 1px solid #979797;
	border-radius: 6px;
	/* Select Option: */
	font-family: AvenirNext-Regular;
	font-size: 18px;
	color: #FAFAFA;
	line-height: 25px;
}

