<!-- <div class="preloader egg-to-dark"> 
    <div class="la-line-scale-pulse-out">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div> -->

<section class="activity-full">
	<div class="bg" style="background: url({{url}});
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"></div>
	<div class="dark-layer"></div>

	<div class="activity-content">
		<div class="button">
            <a href="#/"><span class="left"></span></a>
        </div>

		<h2>Activity</h2>

		<div class="now-playing">
		    <img ng-src="{{url}}" imageonload>
		    <h4 class="title">{{MRTname}} - {{MRTartist}}</h4>
		</div>

		<div class="activity-results">
            <ol>
                <li ng-repeat="r in recents track by $index">{{r.name}} - {{r.artist['#text']}}</li>
            </ol>
        </div>
	</div>
</section>