<!-- <div class="preloader l-blue-to-d-blue"> 
    <div class="la-line-scale-pulse-out">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div> -->

<section>
    <header>
        <h1>Now Playing</h1>
    </header> 

    <div class="np">
        <img ng-src="{{url}}" imageonload>
        <h4 class="base">{{MRTname}} - {{MRTartist}}</h4>
    </div>

    <div class="activity">
        <div class="left-layer"></div>
        <div class="main-container">
            <a href="#/activity">Activity</a>
            <!-- <div>
                <img src="http://placehold.it/50x50">
                <img src="http://placehold.it/50x50">
                <img src="http://placehold.it/50x50">
            </div> -->
        </div>
    </div>

    <div class="favorites">
        <div class="right-layer"></div>
        <div class="main-container">
            <a href="#/favorites">Favorites</a>
            <!-- <div>
                <img src="http://placehold.it/50x50">
                <img src="http://placehold.it/50x50">
                <img src="http://placehold.it/50x50">
            </div> -->
        </div>
    </div>
</section>